:root {
  --dark-bg: #1F2937;
  --hero-main-color: #F9FAF8;
  --hero-main-font-size: 48px;
  --hero-main-font-weight: extra-bold;
  --hero-secondary-color: #E5E7EB;
  --hero-secondary-font-size: 18px;
  --header-color: #F9FAF8;
  --header-font-size: 24px;
  --header-link-font-size: 18px;
  --header-link-color: #E5E7EB;
  --btn-color: #3882F2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  background-color: var(--dark-bg);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header, .small-container {
  background-color: var(--dark-bg);
  display: flex;
  padding: 18px;
  
  flex-basis: 1024px;
  justify-content: space-between;
  align-items: center;
}

.small-container {
  height: 450px;
}

header p {
  color: var(--header-color);
  font-size: var(--header-font-size);
}

header ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  gap: 12px;
}

header a {
  text-decoration: none;
  color: var(--header-link-color);
  font-size: var(--header-link-font-size);
}

.hero-img {
  width: 500px;
}

.small-container p {
  color: var(--hero-secondary-color);
  font-size: var(--hero-secondary-font-size);
}

.small-container h1 {
  color: var(--hero-main-color);
  font-size: var(--hero-main-font-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-btn {
  padding: 9px 21px;
  background-color: var(--btn-color);
  color: var(--hero-main-color);
  font-weight: 700;
  border: 1px solid #3882F2;
  border-radius: 5px;
  margin-top: 12px;
  font-size: var(--hero-secondary-font-size);
}