:root {
  --dark-bg: #1F2937;
  --hero-main-color: #F9FAF8;
  --hero-main-font-size: 48px;
  --hero-main-font-weight: extra-bold;
  --hero-secondary-color: #E5E7EB;
  --hero-secondary-font-size: 18px;
  --header-color: #F9FAF8;
  --header-font-size: 24px;
  --header-link-font-size: 18px;
  --header-link-color: #E5E7EB;
  --btn-color: #3882F2;
  --information-header-text: 36px;
  --quote-text-color: #1F2937;
  --quote-bg-color: #E5E7EB;
  --quote-text-font-size: 36px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-header, .container-hero {
  background-color: var(--dark-bg);
}

.container-header, .container-hero, .container-quote, .container-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-quote {
  background-color: var(--quote-bg-color);
}

header, .container-hero-content, .container-quote-content {
  background-color: var(--dark-bg);
  display: flex;
  padding: 18px;
  
  flex-basis: 1024px;
  justify-content: space-between;
  align-items: center;
}

.container-hero-content {
  height: 450px;
}

.container-hero-content p {
  color: var(--hero-secondary-color);
  font-size: var(--hero-secondary-font-size);
}

.container-hero-content h1 {
  color: var(--hero-main-color);
  font-size: var(--hero-main-font-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-quote-content {
  height: 450px;
  background-color: var(--quote-bg-color);
  display: flex;
  justify-content: center;
  align-content: center;
}

header p {
  color: var(--header-color);
  font-size: var(--header-font-size);
}

header ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  gap: 12px;
}

header a {
  text-decoration: none;
  color: var(--header-link-color);
  font-size: var(--header-link-font-size);
}

.hero-img {
  width: 500px;
}

.hero-btn {
  padding: 9px 21px;
  background-color: var(--btn-color);
  color: var(--hero-main-color);
  font-weight: 700;
  border: 1px solid #3882F2;
  border-radius: 5px;
  margin-top: 12px;
  font-size: var(--hero-secondary-font-size);
}

.info h1 {
  font-size: var(--information-header-text);
}

.container-info-content {
  display: flex;
  flex-basis: 1024px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
  height: 400px;
}

.all-infos {
  display: flex;
  gap: 33px;
  justify-content: space-between;
  width: 800px;
}

.info {
  display: flex;
  flex-direction: column;
  flex-basis: 150px;
  text-align: center;
  align-items: center;
  color: #6d747d;
  /* color: var(--quote-text-color); */
  gap: 9px;
}

.container-img {
  display: flex;
}
.container-img img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border: 4px solid #3882F2;
  border-radius: 10px;
}

.container-quote-content div {
  width: 800px;
}

.container-quote-content p {
  font-size: var(--quote-text-font-size);
  font-style: italic;
  font-weight: 300;
}

.container-quote-content h1 {
  text-align: right;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.cta-content {
  background-color: var(--btn-color);
  color: white;
  height: auto;
  width: 1024px;
  border-radius: 15px;
  padding: 50px 120px;
  display: flex;
  justify-content: space-between;
}

.cta-btn {
  border: 2px solid var(--header-color);
  background-color: transparent;
  color: var(--header-color);
  width: 150px;
  border-radius: 5px;
  font-weight: 700;
}

.cta-content p {
  font-weight: 300;
  margin-top: 5px;
}